/* ==UserStyle==
@name         Button Focus
@namespace    gitlab.com/lmcnulty/userstyles
@version      1.0.0
@license      CC0-1.0
@author       Luna McNulty (https://gitlab.com/lmcnulty)
@description  Adds blue highlight to focused buttons on ALL domains
==/UserStyle== */

@-moz-document regexp(.*) {
	button:focus, select:focus, input[type=submit]:focus {
		box-shadow: 0px 0px 2px 1px rgba(50, 150, 255, .5);
	}
}
