/* ==UserStyle==
@name       Gitlab Tab Width
@namespace  gitlab.com/lmcnulty/userstyles
@version    1.0.0
@license    CC0-1.0
@author     Luna McNulty (https://gitlab.com/lmcnulty)
==/UserStyle== */

@-moz-document domain(gitlab.com) {
	code {
		-moz-tab-size: 4;
		tab-size: 4;
	}
}
