/* ==UserStyle==
@name         Invidious Tweaks
@namespace    gitlab.com/lmcnulty/userstyles
@version      1.0.0
@license      CC0-1.0
@description  Corrects aspect-ratio on inviou.us and fits the site to a narrower width.
@author       Luna McNulty (https://gitlab.com/lmcnulty)
==/UserStyle== */

@-moz-document domain("invidio.us") {
	html {
		max-width: 1100px;
		margin: auto;
	}
	#player {
		padding-top: 56.25% !important;
		background: white !important;
	}
	#player-container.h-box {
		height: auto !important;
		padding-bottom: 0px !important;
		padding-left: 0px;
		padding-right: 0px;
		background: white !important;
	}
	#player video {
		background: white !important;
	}
}
