/* ==UserStyle==
@name       News Website Fixes
@namespace  gitlab.com/lmcnulty/userstyles
@version    1.0.0
@license    CC0-1.0
@author     Luna McNulty (https://gitlab.com/lmcnulty)
==/UserStyle== */

@-moz-document domain(nytimes.com) {
    .interactive-masthead, .css-ulr03x {
        position: absolute !important;
    }
}

@-moz-document domain(economist.com) {
	.sticky-scroller {
	  position: relative !important;
	}

	.main-content__main-column {
		left: inherit !important;
		margin: auto !important;
	}
}

@-moz-document domain(nymag.com) {
	.page-sticky-header {
		display: none !important;
	}
}

@-moz-document domain(arstechnica.com) {
	.left-column {
	  margin: auto !important;;
	}
}
