/* ==UserStyle==
@name           Responsive Discord
@namespace      gitlab.com/lmcnulty/userstyles
@version        2020.5.26
@description    Collapse the Discord sidebars when the window is small.
@author         lmcnulty
==/UserStyle== */
@-moz-document domain("discord.com") {
    @media screen and (max-width: 800px) {
        .membersWrap-2h-GB4 {
            width: 10px;
            min-width: 10px;
            opacity: 0;
        }
        .membersWrap-2h-GB4:hover {
            width: auto;
            min-width: auto;
            opacity: 1;
        }

        .sidebar-2K8pFh {
            width: 0px;
        }
        .base-3dtUhz {
            left: 0px !important;
        }
        nav.wrapper-1Rf91z {
            width: 10px;
            z-index: 1000000;
            opacity: 0;
        }
        nav.wrapper-1Rf91z:hover {
            width: 70px;
            opacity: 1;
        }
        nav.wrapper-1Rf91z:hover + .base-3dtUhz .sidebar-2K8pFh,
        .sidebar-2K8pFh:hover {
            width: auto;
        }
        nav.wrapper-1Rf91z:hover + .base-3dtUhz .sidebar-2K8pFh {
            padding-left: 70px;
        }
    }
}