/* ==UserStyle==
@name           Slack Collapse Sidebar
@namespace      gitlab.com/lmcnulty/userstyles
@version        2020.5.14
@description    Hide Slack sidebar except on hover.
@author         Luna McNulty
==/UserStyle== */
@-moz-document domain("app.slack.com") {
    .p-workspace__sidebar {
        width: 10px !important;
        position: absolute !important;
        bottom: 0px !important;
        top: 0px !important;
        z-index: 10000000 !important;
        opacity: 0;
    }
    .p-workspace__sidebar:hover {
        width: auto !important;
        width: 300px !important;
        opacity: 1;
    }
    .p-workspace {
        grid-template-columns: 10px auto !important;
    }
    .p-channel_sidebar {
        width: 100% !important;
    }
}