/* ==UserStyle==
@name         Wikipedia Narrow
@namespace    gitlab.com/lmcnulty/userstyles
@version      1.0.0
@license      CC0-1.0
@description  Gives Wikipedia a maximum width for shorter lines of text and more comfortable reading.
@author       Luna McNulty (https://gitlab.com/lmcnulty)
==/UserStyle== */

@-moz-document regexp(".*\.wik(ipedia|tionary).org/?.*") {

	* {
		max-width: 1080px;
	}
	html {
		margin: auto !important;
		background: lightgrey;
		height: 100% !important;
	}
	body {
		height: auto !important;
	}
	body, #footer {
		background: #F6F6F6 !important;
	}
	#content {
		min-height: 35em;
	}
	#mw-head {
		right: auto !important;
	}
	#mw-panel {
		left: auto !important;
		height: 100% !important;
	}

	@media only screen and (min-width: 1080px) {
		body {
			border-left: 1px solid grey;
			border-right: 1px solid grey;
			box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
		}
		.suggestions {
			right: calc((100vw - 1082px)/2 + .5em + 4px) !important;
		}
	}

	@media only screen and (max-width: 700px) {
		#mw-panel {
			display: none;
		}
		.mw-body {
			margin-left: 0px !important;
		}
		#right-navigation {
			float: left;
		}
		#left-navigation {
			margin-left: 0px;
		}
		#p-personal ul {
			padding-left: 0px;
		}
		#p-personal {
			right: auto;
			left: 0px !important;
		}
	}
}
